nav.navbar.navbar-inverse.navbar-static-top
  div.container-fluid
    div.nav.navbar-nav.navbar-left
      a.navbar-brand(href="#") URFWin
    div.navbar-nav.navbar-right(style="padding-bottom: 0")
      a.navbar-brand(href="/about") About
    div.navbar-nav.navbar-right(style="padding-bottom: 0")
      a.navbar-brand(href="/Leaderboard") Leaderboard
