extends ./base.jade
block title
  title URFWin
block css
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.css")

block body
  div.container
    div.row
      h1(style="text-align:center") URF
        small win
    div.row#show-selection(style="display:table;")
      div.splash
        img.splashIcon.replace#splash1(src="/img/empty_white.png")
      img#vs(src="/img/versus.png")
      div.splash
        img.splashIcon#splash2(src="/img/empty_white.png")
    div.row(style="text-align:center;")
      button.btn.btn-default#submit(style="display:inline-block") Who will win?
      small#error(style="display:block;color:red;") &nbsp
      div#filter
        small Filter Champs &nbsp
        input.champInput(type="text" style="display:inline-block" placeholder="Query")
        button.btn.btn-default(style="display:inline-block" onclick="reset()") Reset
      div.row#champPool(style="text-align:center;padding-top: 15px;")



block scripts
  script(src="/js/home.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js")
