extends ./base.jade
block title
  title URFWin
block css
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.css")

block body
  div.container
    div.row
      h1(style="text-align:center") URF SoloKill LeaderBoard
    div.row.text-center
        div.col-md-6
            h1 Winners
            each val in winners
                div
                - perc = Math.round(val.solo_perc*100)
                =val.champ + " at "+perc+"%"
        div.col-md-6.text-left
            h1 Losers
            each val,i in losers
                div
                    - perc = Math.round(val.solo_perc*100)
                    span #{i+1}.
                    img(src="http://ddragon.leagueoflegends.com/cdn/5.6.2/img/champion/"+val.champ+".png",width='50px',height='50px')
                    =val.champ + " at "+perc+"%"
block scripts
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js")
